@using HelloWorldASPNET.Entities
@model HelloWorldASPNET.Entities.AlBarto

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The top secret page</title>
</head>
<body>
@Model.Location at @Model.Outcome
</body>
</html>