@using HelloWorldASPNET.Entities
@model HelloWorldASPNET.ViewModels.HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The top secret page</title>
</head>
<body>
<h2>@Model.Test</h2>
@foreach (var rest in @Model.AlBartos)
{
    <p>@rest.Location</p>
    <p>@rest.Outcome</p>
}

</body>
</html>